/*Layout Elements -

- MODULAR PERCENT LAYOUT

*/

.container{width: $desktop; max-width:100%; margin:0 auto;}

.gutter{
	padding: .5rem;
}

.gutterx2{
	padding: 1rem;
	@include respond-to($mobile){padding: .5rem;}
}

//start PERCENTS

.full-width { width: 100%; }
.three-quarter-width { width: 75%; }
.half-width { width: 50%; }
.third-width { width: 33.333%;}
.quarter-width { width: 25%; }

//eof PERCENTS

#alert-bar{
	background-color: $dark-gray;
	border-bottom: 1px solid darken($mid-gray,30%);

	i{
		color: $primary;
	}

	h3{
		color: $white;
		font-size:.8rem;
		padding:.5rem;
		font-weight:normal;
	}
}

main{
	@extend .container;

	h1,h2,h3,table,ul{margin-bottom:1rem;}
	
	p{padding-bottom:1rem;}

	@include respond-to($desktop){
		padding: 0 .5rem;
	}
}

.news-grid{
	> div{
		margin: 2rem 0;
		&:nth-child(even){background-color: rgba(0,0,0,0.01);}
	}
	border-bottom: 2px solid $almost-white;
	margin-bottom:2rem;

	h2{
		padding: .5rem;
		border-bottom: 1px solid $almost-white;
	}
	p{
		font-size:.9rem;
		strong{color: $primary;}
	}
	ul{
		margin:1rem;
		font-size:.9rem;
	}
}

.store-grid{
	border-radius: $radius;
	background-color: rgba($light-gray, .5);
	margin-bottom: 2rem;
	text-align:center;

	h2{
		color: $primary;
		padding-top:1rem;
	}

	>div{
		padding-bottom: 1rem;
	}

	figure{
		background-color: $white;
		border-radius: $radius;
		margin:.5rem;
		padding:.5rem;
		border: 1px solid $light-gray;
		min-height:265px;

		//vertical center stuff
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		img{margin: 0 auto;}

		i{
			font-size: 8rem;
			color: $light-gray;
		}
	}
	strong{
		display:block;
		padding:.5rem;
		font-size: 1.2rem;
		min-height:2.5rem;
	}
}

footer{
	background-color: $black;
}


.footer-grid{
	padding: 1rem 0;

	h3{
		padding: .5rem;
		font-size:1.1rem;
		text-transform: uppercase;
		color: darken($primary, 8%);
		font-weight:normal;
		border-bottom: 2px solid lighten($black, 2.5%);

		//adding mobile toggle
		position:relative;
		i{
			display:none;
			position: absolute;
			top:.7rem;
			right:1rem;
		}
	}

	ul{
		margin:.5rem;
		li{
			list-style:none;
			font-size: .85rem;
			color: darken($light-gray,20%);
			line-height:2rem;
			a{
				color: $light-gray;
				&:hover{color: $primary;}
			}
		}
	}

	@include respond-to($mobile){
		padding:0;
		h3 i{display:block;}
		ul{display:none;}
	}
}

#copyright{
	background-color: $primary;
	color: $white;
	p{
		padding: .5rem;
		font-size: .8rem;
	}
}
