@mixin banner{
    .container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
    }

    h3{
        display:inline-block;
        width: 40%;
        padding: 1rem .5rem;
    }
    ul{
        width: 60%;
        list-style:none;
        li{
            padding: 1rem;
            text-align: center;
        }
    }

    @include respond-to($mobile){
        .container{flex-wrap: wrap; flex-direction: column;}
        h3,ul{width:100%; text-align:center;}
    }
}
.light-banner{
    @include banner;
    background-color: $almost-white;

    li:hover{
        background-color: darken($almost-white, 8%);
    }

}


#breadcrumbs{
    background-color: $almost-white;
    text-transform: uppercase;
    ul{
        margin:0;
        list-style:none;

        li{
            display:inline-block;
            padding:.5rem 1rem .5rem 0;
            position: relative;
            font-size: .9rem;
            &:after{
                content:">";
                position: absolute;
                right:0;
            }

            &:last-of-type{
                &:after{display:none;}
            }

            @include respond-to($mobile){
                padding:.5rem .7rem;
                font-size: .7rem;
            }

        }
    }
}
